body {
    color: white;
}

.top {
    display: inline-block;
}

#canvas {
    position: relative;
    background-color: black;
    width: 600px;
    height: 600px;
    padding: 5px;
    margin: 0 auto;
}

table {
    margin: 0 auto;
}

.main {
    top: 80px;
    left: 110px;
    background-color: brown;
    margin: 10px;
}

.alien {
    width: 30px;
    height: 30px;
    background-color: aliceblue;

}

#spaceShip {
    position: absolute;
    bottom: 10px;
    left: 285px;
    background-color: white;
    width: 30px;
    height: 30px;
}